@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
    margin: 0px;
    padding: 0px;
}

body{

    background: rgba(240,104,67,1);
    background: -moz-linear-gradient(top, rgba(240,104,67,1) 0%, rgba(117,47,28,1) 32%, rgba(92,29,12,1) 56%, rgba(87,19,0,1) 69%,     rgba(102,25,3,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,104,67,1)), color-stop(32%, rgba(117,47,28,1)), color-stop(56%, rgba(92,29,12,1)),     color-stop(69%, rgba(87,19,0,1)), color-stop(100%, rgba(102,25,3,1)));
    background: -webkit-linear-gradient(top, rgba(240,104,67,1) 0%, rgba(117,47,28,1) 32%, rgba(92,29,12,1) 56%, rgba(87,19,0,1) 69%, rgba(102,25,3,1) 100%);
    background: -o-linear-gradient(top, rgba(240,104,67,1) 0%, rgba(117,47,28,1) 32%, rgba(92,29,12,1) 56%, rgba(87,19,0,1) 69%, rgba(102,25,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,104,67,1) 0%, rgba(117,47,28,1) 32%, rgba(92,29,12,1) 56%, rgba(87,19,0,1) 69%, rgba(102,25,3,1) 100%);
    background: linear-gradient(to bottom, rgba(240,104,67,1) 0%, rgba(117,47,28,1) 32%, rgba(92,29,12,1) 56%, rgba(87,19,0,1) 69%, rgba(102,25,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06843', endColorstr='#661903', GradientType=0 );

}


section{
    background-color: bisque;
    margin: 0% 25% 7% 25%;
    padding: 1%;
    position: relative;
    display: flex;
    flex:initial;
    flex-flow:wrap;
    justify-content:space-around;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
}


section#fondo{
    text-align: center;
    background-color: inherit;
    padding: 0%;
    margin: 0%;
    display: inline-block;
}

section#fondo img{
    width: 50%;

}
section article{
    width: 48%;
   /* margin: 14% 0% 2% 0%;
    padding: 14% 0% 2% 0%;*/
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    border-style: double;
    background-color: white;
    /*Elegir uno xD*/
    -webkit-filter: grayscale(100%);
    filter:sepia(100%);

}
section article:hover{
    -webkit-filter:none;
    filter:none;
}

section article img{
    width: 100%;

}


header{
    background-color: #1C1C1C;
    padding-bottom: 1%;
    text-align: center;
    /*  Para no poder seleccionar dentro del header*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;

}
h1{
    background-color: darkred;
    color:bisque;
    /* width: 65%;*/
}

header nav ul li {
    display: inline-block;
    margin-right: 5%;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
}
header nav ul li:hover{
    color: greenyellow;

}

header img{
    width: 217px;
    height: 139px;
    margin-bottom: 1%;
}
#pandi2{
width: 400px;
height: 400px;
float: right;
left: 77%;
/*margin-right:70%;*/
position: fixed;
overflow: hidden;
margin-top: 40%;
text-align: center;
color: white;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}
footer{
    background-color: rgba(28,28,28,0.7);
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
footer img{
     width: 10%;
     
}
