*{
    margin: 0px;
    padding: 0px;
}
html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#nubes{
    height: 100%;
    width: 100%;
    background-color: aqua;
    background-image: url(f03.png);
    background-repeat: repeat-x;
    background-position: 0% 2%;

}
#tubo{
    height: 4%;
    width: 100%;
    position: relative;
    bottom:-96%;
    background-color: bisque;
    background-image: url(tubo1.png);
    background-repeat: no-repeat;
    background-position: 15% 70%;
}
#mario{
    height: 4%;
    width: 100%;
    position: relative;
    bottom:-88%;
    background-image: url(tubo.png);
    background-repeat: no-repeat;
    background-position: 15% 70%;
}

#seto{
    height: 7%;
    width: 100%;
    position: relative;
    bottom:-85%;
    background-image: url(seto.png);
    background-repeat: no-repeat;
    background-position: 7% 70%;
}
#goomba{
    height: 3%;
    width: 100%;
    position: relative;
    bottom:-82%;
    background-image: url(seta.png);
    background-repeat: no-repeat;
    background-position: 10% 70%;
}
#moneda{
    height: 3%;
    width: 100%;
    position: relative;
    bottom: -70%;
    background-image: url(moneda.png);
    background-repeat: no-repeat;
    background-position: 17% 70%;
}